<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="header">
    <div class="container">
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">공지사항</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">정보 게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board">자유 게시판</a>
        </li>
      </ul>
    </div>
  </div>
</html>