<!DOCTYPE html>
<html lang="ko">
  <head th:replace="layout/header::head">
    <title>My Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <div th:replace="layout/top::header"></div>
    <div class="container" style="max-width: 600px">
      <div class="py-5 text-center">
        <h2>마이페이지</h2>
      </div>
      <ul class="list-group">
        <li class="list-group-item" th:text="|이메일: ${userInfo.email}|"></li>
        <li class="list-group-item" th:text="|닉네임: ${userInfo.nickname}|"></li>
        <li class="list-group-item" th:text="|권한: ${userInfo.role}|"></li>
      </ul>
    </div> <!-- /container -->
    <div th:replace="layout/footer::footer"></div>
  </body>
</html>